@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1>PetVet</h1>
    <a asp-action="Index">Início</a>
    <a asp-action="Servicos">Serviços</a>
    <a asp-action="Agendamento">Agendamento</a>
</header>

<main>
    <h2>Bem vindo ao site da veterinária</h2>
    <img src="https://2.bp.blogspot.com/-mRJ0qN_YdEQ/U1Wld7D6E0I/AAAAAAAABGw/0jhCX8cE6Ig/s1600/unnamed.png" alt="Imagem de petshop" width="1110" height="500">
    <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolore eaque aliquid suscipit cumque ex? Atque iure impedit neque culpa enim in facere, molestias tenetur modi porro id excepturi dignissimos. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam odit quos, at, dolore beatae error quia esse aperiam ab quis nisi doloribus hic non cupiditate, voluptate debitis ut vel expedita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, eos maiores ipsam sit iste atque porro maxime totam nisi ipsa asperiores nihil repellat, laudantium ipsum est voluptate autem amet provident. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus officia ex ipsum officiis voluptatibus laboriosam molestiae harum, voluptates odio velit voluptatum accusantium obcaecati similique nemo sapiente maiores magnam dolor illo.</p>
</main>

<footer>
    
</footer>