<header>
    <h1>PetVet</h1>
    <a asp-action="Index">Início</a>
    <a asp-action="Servicos">Serviços</a>
    <a asp-action="Agendamento">Agendamento</a>
</header>

<main>
    <h1>Serviços</h1>
    <ul>
        <li>Serviço 1</li>
        <ul>
            <li>Descrição</li>
            <li>Valor</li>
        </ul>
        <li>Serviço 2</li>
        <ul>
            <li>Descrição</li>
            <li>Valor</li>
        </ul>
        <li>Serviço 3</li>
        <ul>
            <li>Descrição</li>
            <li>Valor</li>
        </ul>
    </ul>
</main>

<footer>
    
</footer>